<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- <form  [formGroup]="sellform" (ngSubmit)="onSubmit()"></form> -->
  <div class="container">
    <div class="title">JJ Store</div>
    <div class="content">
      <form action="#">
        <!-- <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
              </label>
            </div>
        </div> -->
        <form *ngIf="statuspage == 1" [formGroup]="getdetailbarcodeform"  (ngSubmit)="scanbarcode()" >
          <div class="user-details">
            <!-- <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="ชื่อผู้ซื้อ" required formControlName="buyer_name">
            </div> -->
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input readonly type="text" placeholder="พนักงานขาย" required formControlName="saleproduct_employee">
            </div>
            <!-- <div class="input-box">
              
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="sale_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div> -->
            <div class="input-box">
              <span class="details" >ชื่อสินค้า</span>
              
              <input type="text" placeholder="ชื่อสินค้า" required formControlName="saleproduct_name" [(ngModel)]="searchTextinPlaceorder" autocomplete="off">
            </div>
            <div class="input-box">
              <span class="details">จำนวน</span>
              <input type="text" placeholder="จำนวน" required formControlName="saleproduct_quantity">
            </div>
            <div class="input-box">
              <span class="details">ราคา</span>
              <input type="text" placeholder="ราคา" required formControlName="saleproduct_price">
            </div>
            <div class="input-box">
              <span class="details">barcode</span>
              <input type="text" placeholder="code"  formControlName="barcode">
            </div>
           
            



          </div>

          <div class="button">
            <button
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    type="submit"
                    
                    
                  >
                    บันทึก
                  </button>
            <!-- <input type="submit" value="บันทึก"> -->
          </div>

          

          <div class="d-block d-md-flex justify-content-between">
            <div class="table-responsive mt-15">
              <table class="table table-hover table-bordered flex-md-nowrap text-nowrap" datatable>
                <thead>
                  <tr>
                    
                    <th>ชื่อสินค้า</th>
                    <th>จำนวน(ชิ้น)</th>
                    <th>ราคา(ต่อชิ้น)</th>
                    <th>รวม</th>


                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of Allcode">
                    
                    <!-- <td>{{item.saleproduct_name}}</td> -->
                    <!-- <td>[item.saleproduct_name]</td> -->

                    <td>{{item["product_name"]}}</td>
                    <td>{{item["product_quantity"]}}</td>
                    <td>{{item["product_price"]}}</td>
                    <td>{{item["product_quantity"]*item["product_price"]}}</td>



                    
                    <!-- <td>["saleproduct_name"]</td>
                    <td>["saleproduct_quantity"]</td>
                    <td>["saleproduct_price"]</td> -->

                    <!-- <td>{{item["quantity"]*item["priceperpiece"]}}</td> -->


                  </tr>
                </tbody>

                <tfoot>
                  <tr>
                    
                    <th>ชื่อสินค้า</th>
                    <th>จำนวน(ชิ้น)</th>
                    <th>ราคา(ต่อชิ้น)</th>
                    <th>รวม</th>

                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <form    (ngSubmit)="createbill()" (ngSubmit)="getlistbill()">
          <div class="button">
            <button
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    
                  >
                    คิดเงิน
                  </button>
          </div>
          </form>
          <!-- <div class="button">
            <button
                    printSectionId="forprintbill"
                    ngxPrint
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    
                    
                  >
                    พิมพ์ใบเสร็จ
                  </button>
          </div> -->

          
        </form>
      </form>


     
      <form *ngIf="statuspage == 2" >
        
        <div class="d-block d-md-flex justify-content-between">
          <div class="table-responsive mt-15">
            <table class="table table-hover table-bordered flex-md-nowrap text-nowrap" datatable>
              <thead>
                <tr>
                  <th>ชื่อสินค้า</th>
                  <th>จำนวน</th>
                  <th>ราคา</th>
                  <th>รวม</th>
    
                </tr>
              </thead>
    
              <tbody>
                <tr *ngFor="let item of Allcode">
                  <td>{{item["product_name"]}}</td>
                  <td>{{item["product_quantity"]}}</td>
                  <td>{{item["product_price"]}}</td>
                  <td>{{item["product_quantity"]*item["product_price"]}}</td>
    
    
                </tr>
                <tr>  
                  <td colspan="2"></td>  
                  <td colspan="1"><b>รวมทั้งหมด</b> </td>  
                  <td colspan="1"><b>{{_total}}</b> </td>  
                </tr>  
              </tbody>
 
            </table>
    
            
            <div class="user-details">
            <form  (ngSubmit)="onSubmit()" (ngSubmit)="addbillprice()">
            <div class="button">
              <button
                      printSectionId="cashbill"
                      ngxPrint
                      class="bt-sky-blue"
                      style="font-size: 12px; margin-left: 3px"
                      
                      
                    >
                      บิลเงินสด 
                    </button>
            </div>
            </form>
    
          <form  (ngSubmit)="onSubmit()" (ngSubmit)="addbillprice()">
            <div class="button">
              <button
                      printSectionId="creditbill"
                      ngxPrint
                      class="bt-sky-blue"
                      style="font-size: 12px; margin-left: 3px"
                      
                      
                    >
                      บิลเงินเชื่อ 
                    </button>
            </div>
          </form>
        </div>
          </div>
        </div>
    
        
      </form>



    </div>
  </div>


  

</body>


<div id="cashbill" hidden>
 
  <h6>หมายเลขบิล {{_bill}} </h6><h1 align = 'center'>JJ Store</h1>
<h2 align = 'center'>บิลเงินสด</h2>
<hr>
<h4>ชื่อลูกค้า......................................................................................................................วันที่.......................................</h4>
<h4>ที่อยู่............................................................................................................................................................................</h4>

<hr>
<b></b>
<table align = 'center'>
  <colgroup span="4" width="200"> 
  <thead align = 'center'>
    <tr>
      <th>ชื่อสินค้า</th>
      <th>จำนวน</th>
      <th>ราคา</th>
      <th>รวม</th>

    </tr>
  </thead>

  <tbody align = 'center'>
    <tr *ngFor="let item of Allcode">
      <td>{{item["product_name"]}}</td>
      <td>{{item["product_quantity"]}}</td>
      <td>{{item["product_price"]}}</td>
      <td>{{item["product_quantity"]*item["product_price"]}}</td>


    </tr>
    <tr>  
      <td colspan="2"></td>  
      <td colspan="1"><b>รวมทั้งหมด</b> </td>  
      <td colspan="1"><b>{{_total}}</b> </td>  
    </tr>  
  </tbody>
</colgroup>
</table>
<hr><br>
<h4 >ผู้รับเงิน.....................................................................</h4>


</div>



<div id="creditbill" hidden>
 
  <h6>หมายเลขบิล {{_bill}} </h6><h1 align = 'center'>JJ Store</h1>
<h2 align = 'center'>บิลเงินเชื่อ</h2>
<hr>
<h4>ชื่อลูกค้า......................................................................................................................วันที่.......................................</h4>
<h4>ที่อยู่............................................................................................................................................................................</h4>

<hr>
<b></b>
<table align = 'center'>
  <colgroup span="4" width="200"> 
  <thead align = 'center'>
    <tr>
      <th>ชื่อสินค้า</th>
      <th>จำนวน</th>
      <th>ราคา</th>
      <th>รวม</th>

    </tr>
  </thead>

  <tbody align = 'center'>
    <tr *ngFor="let item of Allcode">
      <td>{{item["product_name"]}}</td>
      <td>{{item["product_quantity"]}}</td>
      <td>{{item["product_price"]}}</td>
      <td>{{item["product_quantity"]*item["product_price"]}}</td>


    </tr>
    <tr>  
      <td colspan="2"></td>  
      <td colspan="1"><b>รวมทั้งหมด</b> </td>  
      <td colspan="1"><b>{{_total}}</b> </td>  
    </tr>  
  </tbody>
</colgroup>
</table>
<hr><br>
<h4 >ผู้วางบิล.....................................................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้รับวางบิล........................................................................</h4>


</div>

<!-- <div hidden>
  <ul>
    <li *ngFor="let item of testsearch | filter:searchTextinPlaceorder">
      {{ item }}
    </li>
  </ul>

</div> -->

</html>