<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title" >JJ Store</div>
    <div class="content">
      <form action="#">
        <!-- <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
              </label>
            </div>
        </div> -->
        <div class="user-details">
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="ชื่อผู้ซื้อ" required>
          </div>
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="พนักงานขาย" required>
          </div>
          <div class="input-box">
            <i class="fas fa-calendar"></i>
            <!-- <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> -->
            <input type="text" placeholder="Date" required>
          </div>
          <div class="input-box">
            <span class="details">ชื่อสินค้า</span>
            <input type="text" placeholder="ชื่อสินค้า" required>
          </div>
          <div class="input-box">
            <span class="details">จำนวน</span>
            <input type="text" placeholder="จำนวน" required>
          </div>
          <div class="input-box">
            <span class="details">ราคา</span>
            <input type="text" placeholder="ราคา" required>
          </div>
          
        </div>

        <div class="button" >
            <input type="submit" value="บันทึก">
        </div>
        
        <div class="d-block d-md-flex justify-content-between">
            <div class="table-responsive mt-15">
                <table class="table table-hover table-bordered flex-md-nowrap text-nowrap" datatable
                       >
                    <thead>
                    <tr>
                        <th>สินค้าลำดับที่</th>
                        <th>ชื่อสินค้า</th>
                        <th>จำนวน</th>
                        <th>ราคา</th>

                      
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>สินค้าลำดับที่</th>
                        <th>ชื่อสินค้า</th>
                        <th>จำนวน</th>
                        <th>ราคา</th>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
        <div class="button">
          <input type="submit" value="คิดเงิน">
        </div>
      </form>
    </div>
  </div>

</body>
</html>

