<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="container">
    <div class="title">Print Barcode</div>
	<br>
    <div class="content">
 
        <div class="user-details">
			<div class="input-box">
				<span class="details">บาร์โค้ด</span>
				<input type="text" placeholder="หมายเลขบาร์โค้ด" [(ngModel)]="value" >
			</div>
			<div class="input-box">
				<span class="details">ชื่อสินค้า</span>
				<input type="text" placeholder="ชื่อสินค้า" [(ngModel)]="name" >
			</div>
			<div class="input-box">
				<span class="details">จำนวน</span>
				<input type="text" placeholder="จำนวน" [(ngModel)]="quantity" >
			</div>
		 </div>

		 <br/>
		 <!-- <input type="checkbox" [(ngModel)]="displayValue">แสดงหมายเลขบาร์โค้ด<br/> -->

		 
		 <div fxLayout="column" id="printbarcode" align = 'center'>
			<ngx-barcode *ngFor="let bcValue of values " [bc-value]="bcValue" 
			  [bc-display-value]="displayValue" >
			</ngx-barcode>
			<form>
				<span>ชื่อสินค้า : {{name}}</span>&nbsp;&nbsp;&nbsp; <span>จำนวน : {{quantity}}</span>
			</form>
			<!-- <ngx-barcode *ngFor="let bcname of names" [bc-value]="bcname" 
			  [bc-display-value]="displayValue" >
			</ngx-barcode> -->
		</div>
    

        
    </div>

	<form align = 'center'>
		<div class="button">
		  <button
				  printSectionId="printbarcode"
				  ngxPrint
				  class="bt-sky-blue"
				  style="font-size: 12px; margin-left: 3px"
				  
				  
				>
				  ปริ้นบาร์โค้ด 
				</button>
		</div>
	  </form>

  </div>
</body>

</html>