<!-- <p>printbill works!</p> -->
<!-- <div ngxPrintItemMarker directPrint =" true "></div> -->
<div id="forprintbill">
  
    <h1>Shop Name</h1>
  <h3>my address </h3>
  <h3>my location</h3>
  <hr>
  <table>
    <thead>
      <tr>
      <th>1</th>
      <th>Commodity1</th>
      <th>1</th>
      <th>1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
  
      <th>2</th>
      <th>Commodity2</th>
      <th>2</th>
      <th>2</th>
      </tr>
      <tr>
  
      <th>3</th>
      <th>Commodity3</th>
      <th>3</th>
      <th>3</th>
      </tr>
      <tr>
  <th></th>
      <th></th>
      <th>Total</th>
      <th>6</th>
      </tr>
    </tbody>
  </table>
  
  <p>
  print-page works!
  </p>
  <button (click)="printPage()">print</button>
  </div>
