<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- <form  [formGroup]="sellform" (ngSubmit)="onSubmit()"></form> -->
  <div class="container">
    <div class="title">Stock Product</div>
    <div class="content">
      <form action="#">
        <!-- <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
              </label>
            </div>
        </div> -->
        <form *ngIf="statuspage == 1" [formGroup]="addproductform" (ngSubmit)="onSubmit(addproductform.value)" (ngSubmit)="getListProduct()" >
          <div class="user-details">
            <!-- <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="ชื่อผู้ซื้อ" required formControlName="buyer_name">
            </div>
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="พนักงานขาย" required formControlName="sale_name">
            </div>
            <div class="input-box">
              

              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="sale_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div> -->
            <div class="input-box">
              <span class="details">ชื่อสินค้า</span>
              <input type="text" placeholder="ชื่อสินค้า" required formControlName="product_name" [(ngModel)]="searchTextinHome" autocomplete="off" >
            </div>
            <div class="input-box">
              <span class="details">จำนวน</span>
              <input type="text" placeholder="จำนวน" required formControlName="product_quantity">
            </div>
            <div class="input-box">
              <span class="details">ราคาต่อชิ้น</span>
              <input type="text" placeholder="ราคา" required formControlName="product_price">
            </div>
            <div class="input-box">
              <span class="details">barcode</span>
              <input type="text" placeholder="code"  formControlName="product_barcode">
            </div>
           
            



          </div>

          <div class="button">
            <button
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    type="submit"
                    
                    
                  >
                    บันทึก
                  </button>
            <!-- <input type="submit" value="บันทึก"> -->
          </div>

          <div class="d-block d-md-flex justify-content-between">
            <div class="table-responsive mt-15">
              <table class="table table-hover table-bordered flex-md-nowrap text-nowrap" datatable >
                <thead>
                  <tr>
                    <th>barcode</th>
                    <th>ชื่อ</th>
                    <th>จำนวน</th>
                    <th>ราคาต่อชิ้น</th>
                    <th>แก้ไข</th>


                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of Allproduct | filter:searchTextinHome">
                    <td>{{item["product_barcode"]}}</td>
                    <td>{{item["product_name"]}}</td>
                    <td>{{item["product_quantity"]}}</td>
                    <td>{{item["product_price"]}}</td>


                    <td>
                      <button type="button" class="btn btn-warning btn-sm" 
                              (click)="editstock(item);" ><i class="fa fa-pencil">แก้ไข</i>
                      </button>
                  </td>

                  <!-- <td>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                            data-target="#modalEditFloor" (click)="editRoom(item);"><i class="fa fa-pencil"></i>
                    </button>
                </td> -->
                    <!-- <td>{{item["quantity"]*item["priceperpiece"]}}</td> -->


                  </tr>
                </tbody>

                <tfoot>
                  <tr>
                    <th>barcode</th>
                    <th>ชื่อ</th>
                    <th>จำนวน</th>
                    <th>ราคาต่อชิ้น</th>
                    <th>แก้ไข</th>

                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <!-- <div class="button">
            <button
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    (click)="routeTo(2)"
                  >
                    คิดเงิน
                  </button>
          </div> -->
        </form>
      </form>


     
      <form *ngIf="statuspage == 2" [formGroup]="editstockproductform">
        
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">ชื่อสินค้า</span>
            <input type="text" placeholder="ชื่อสินค้า" required formControlName="product_name" >
          </div>
          <div class="input-box">
            <span class="details">จำนวน</span>
            <input type="text" placeholder="จำนวน" required formControlName="product_quantity">
          </div>
          <div class="input-box">
            <span class="details">ราคาต่อชิ้น</span>
            <input type="text" placeholder="ราคาต่อชิ้น" required formControlName="product_price">
          </div>
          <div class="input-box">
            <span class="details">barcode</span>
            <input type="text" placeholder="barcode"  formControlName="product_barcode">
          </div>
         
          
      
      
      
        </div>

        <div class="user-details">
        <form   (ngSubmit)="submitEditstock()" >
        <div class="button">
          <button
                  class="bt-sky-blue"
                  style="font-size: 12px; margin-left: 3px"
                  type="submit"
                  
                  
                >
                  บันทึก
                </button>
          <!-- <input type="submit" value="บันทึก"> -->
        </div>
      </form>

        <form   (ngSubmit)="cancel()" >
          <div class="button">
            <button
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    type="submit"
                    
                    
                  >
                    ยกเลิก
                  </button>
            <!-- <input type="submit" value="บันทึก"> -->
          </div>
        </form>
      </div>
      
        
      </form>



    </div>
  </div>


  

</body>



</html>