<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- <form  [formGroup]="sellform" (ngSubmit)="onSubmit()"></form> -->
  <div class="container">
    <div class="title">Sale History</div>
    <div class="content">
      <form action="#">
        
        <form *ngIf="statuspage == 1" [formGroup]="searchdatesaleform" (ngSubmit)="getProductshowinhistory()" (ngSubmit)="resetsum()">
          <div class="user-details">
            
            <div class="input-box">
              <span class="details">Start date</span>
              <input class="form-control" type="text" ngbDatepicker formControlName="startDate" 
              #sd="ngbDatepicker" (click)="sd.toggle()">

              <!-- <input type="text" placeholder="ชื่อสินค้า" required formControlName="product_name"  > -->
            </div>
            <div class="input-box">
              <span class="details">End date</span>
              <input class="form-control" type="text" ngbDatepicker formControlName="endDate"
              #ed="ngbDatepicker" (click)="ed.toggle()">

              <!-- <input type="text" placeholder="จำนวน" required formControlName="product_quantity"> -->
            </div>

            <div class="input-box">
              <span class="details">ค้นหา</span>
              <input type="text" placeholder="ชื่อสินค้า หรือ หมายเลขบิล" required formControlName="search" [(ngModel)]="searchTextinHistorybill" autocomplete="off" >
            </div>
            
            
           
          </div>

          <div class="button">
            <button
                    class="bt-sky-blue"
                    style="font-size: 12px; margin-left: 3px"
                    type="submit"
                    
                    
                  >
                    ค้นหา
                  </button>

          </div>

         

          <div class="title">Result</div>
          <div class="d-block d-md-flex justify-content-between">
            
            <div class="table-responsive mt-15">
              <table class="table table-hover table-bordered flex-md-nowrap text-nowrap" datatable>
                <thead>
                  <tr>
                    <th>ชื่อสินค้า</th>
                    <th>วันที่ขาย</th>
                    <th>หมายเลขบิล</th>
                    <th>ผู้ขาย</th>
                    <th>จำนวน(ชิ้น)</th>
                    <th>ราคา(ต่อชิ้น)</th>
                    <th>รวม</th>
                    <th>แก้ไข</th>


                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of Allproductfromsearch | filter:searchTextinHistorybill">
                    <!-- <td data-sort='YYYYMMDD'>DD/MM/YYYY</td> -->
                    <td>{{item["saleProductname"]}}</td>
                    <td>{{item["saleDate"]| date : 'yyyy/MM/dd'}}</td>
                    <td>{{item["billNo"]}}</td>
                    <td>{{item["firstName"]}} {{item["lastName"]}}</td>
                    <td>{{item["saleQuantity"]}}</td>
                    <td>{{item["salePrice"]}}</td>
                    <td>{{item["saleQuantity"]*item["salePrice"]}}</td>
                    <td>
                      <button type="button" class="btn btn-warning btn-sm" 
                              (click)="editHistoryBill(item);" ><i class="fa fa-pencil">แก้ไข</i>
                      </button>
                  </td>


                  </tr>
                  <tr>  
                    <td colspan="5"></td>  
                    <td colspan="1"><b>ยอดขายรวมทั้งหมด</b> </td>  
                    <td colspan="1"><b>{{_total}}</b> </td>  
                  </tr>  
                </tbody>

                <!-- <tfoot>
                  <tr>
                    <th>ชื่อสินค้า</th>
                    <th>วันที่ขาย</th>
                    <th>หมายเลขบิล</th>
                    <th>ผู้ขาย</th>
                    <th>จำนวน</th>
                    <th>ราคา</th>

                  </tr>
                </tfoot> -->
              </table>
            </div>
          </div>

         
        </form>
      </form>


     
      <form *ngIf="statuspage == 2" [formGroup]="edithistorybillform">
        
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">ชื่อสินค้า</span>
            <input type="text" placeholder="ชื่อสินค้า" required formControlName="saleProductname" >
          </div>
          <div class="input-box">
            <span class="details">วันที่ขาย</span>
            <input readonly type="text" placeholder="วันที่ขาย" required formControlName="saleDate" >
          </div>
          <div class="input-box">
            <span class="details">หมายเลขบิล</span>
            <input readonly type="text" placeholder="หมายเลขบิล" required formControlName="billNo">
          </div>
          <div class="input-box">
            <span class="details">ผู้ขาย</span>
            <input readonly type="text" placeholder="ผู้ขาย"  formControlName="firstNameAndLastname">
          </div>
          <div class="input-box">
            <span class="details">จำนวน(ชิ้น)</span>
            <input readonly type="text" placeholder="จำนวน(ชิ้น)"  formControlName="saleQuantity">
          </div>
          <div class="input-box">
            <span class="details">ราคา(ต่อชิ้น)</span>
            <input readonly type="text" placeholder="ราคา(ต่อชิ้น)" required formControlName="salePrice">
          </div>
        
         
          
      
      
      
        </div>

        <div class="user-details">
          <form   (ngSubmit)="submitEditHistoryBill()" >
        <div class="button">
          <button
                  class="bt-sky-blue"
                  style="font-size: 12px; margin-left: 3px"
                  type="submit"
                  
                  
                >
                  บันทึก
                </button>
          <!-- <input type="submit" value="บันทึก"> -->
        </div>
      </form>

        <form   (ngSubmit)="cancel()" >
        <div class="button">
          <button
                  class="bt-sky-blue"
                  style="font-size: 12px; margin-left: 3px"
                  type="submit"
                  
                  
                >
                  ยกเลิก
                </button>
          <!-- <input type="submit" value="บันทึก"> -->
        </div>
      </form>

      </div>
        
      </form>




    </div>
  </div>


  

</body>

</html>